@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* Main */

body {
    background-color: #FBEF68;
}

#main-container {
    align-items: center;
    background-color: #FBEF68;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    line-height: 50px;
}

.main-button {
    border: none;
    background-image: linear-gradient(to right, #DD207F, #E2407B, #E16120, #47A738, #642582, #3C9DE1, #47A738 );
    border-radius: 100px;
    cursor: pointer;
    padding: .7rem;
    width: 300px;
}

.main-button a {
    color: white;
    font-family: 'Cutive Mono', monospace;
    font-size: 23px;
    text-decoration: none;
    font-weight: bold;
}

.main-button:hover {
    background-image: linear-gradient(to left, #DD207F, #E2407B, #E16120, #47A738, #642582, #3C9DE1, #47A738 );
    transform: scale(1.1);
}

/* Eventos */

#evento-container {
    background-color: #FBEF68;
    min-height: 100vh;
}

#evento-container h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
}

.evento-card-container {
    display: flex;
    padding: 1rem;
    justify-content: center;
}

.evento-card {
    padding: 1rem;
    line-height: 30px;
    border: solid black 1px;
    margin: 2rem;
}

.evento-card h3 {
    font-size: 23px;
    font-family: 'Fredoka One', cursive;
    /* text-align: center; */
}

.evento-card h4 {
    color:#471515;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Cutive Mono', monospace; */
}

.evento-card p {
    color: #471515;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
}

.evento-card img {
    margin: auto;
    
}

/* Localizacao */

#localizacao-container  {
    background-color: #FBEF68;
    line-height: 100px;
}

#localizacao-container h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
}



/* Footer */

#footer-container {
    align-items: center;
    background-color: #0C0B0B;
    display: flex;
    font-size: 17px;
    height: 10vh;
    justify-content: center;
}

#footer-container a {
    color:whitesmoke;
    font-weight:bold;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    text-decoration: none;
}

#footer-container a:hover {
    transform: scale(1.1);
}